extends layout

block content
    h1 AirBNB Chat Service
    p Welcome to the AirBNB API Chat service !
    div(id="mario-chat")
        div(id="chat-window")
            div(id="viewPort")
            div(id="feedback")
            p
                input(type="text" id="user" placeholder="user")
            p
                input(type="text" id="contents" placeholder="contents")
            p
                button(id="sendMessage") Send

    script(src="/javascripts/chatService.js")